.footer{
    width: 100vw;
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: var(--color-78A6c8);
    color: var(--color-E9EEF2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.midFooter{
    width: 60%;
    text-align: center;
}
.midFooter>h1{
    color: var(--color-E65C4F);
    font-size: 3rem;
}
.midFooter>p{
    max-width: 60%;
    margin: 1vmax auto;
}
.rightFooter{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}
.rightFooter>a{
    text-decoration: none;
    color: var(--color-E9EEF2);
}
.rightFooter>a:hover{
    
    color: var(--color-326789);
}